* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

#card {
  background-color: rgb(70, 202, 173);
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid #050101;
  padding: 10px 5px;
  margin: 20px auto;
  border-radius: 20px;
}

#image {
  width: 120px;
  height: 180px;
  border-radius: 100%;
  margin-right: 10px;
}
